* {
  margin: 0;
  padding: 0;
  list-style: none;
}
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
  background-color: #cda34f;
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  max-width: 1400px;
}
h1 {
  margin-bottom: 10px;
  font-weight: lighter;
}

.search {
  font-size: 1.2rem;
}

input {
  padding: 5px 10px;
  margin: 0 5px;
  outline: none;
  border: none;
}

button {
  background-color: #fff;
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(245, 223, 153);
}

.result {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 20px;
  justify-content: center;
}

ul {
  width: 220px;
  padding: 10px;
  margin: 10px;
  background-color: #e9e7da;
}

.main {
  /* background-color: #ccc; */
  display: flex;
  align-items: center;
}

.main img {
  width: 50%;
}

.main span {
  width: 40%;
  display: block;
  font-size: 30px;
  /* background-color: #fa0; */
}

li {
  text-align: center;
}
